<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/signin.css">
    <title>Signin</title>
</head>

<body>

<div class="topbar">

    <p>Klik & collect*</p>
    <p>30 dages returret</p>
    <p>30-45 dages levering</p>
    <p>Kontakt os</p>

</div>

<div class="menubar">

    <div class="logoBox">
        <a href="/" class="logoLink">
            <h1>Fog</h1>
            <p>Custom Carport</p>
        </a>
    </div>


    <div class="menuLinks">

        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte">Enkelte carporte</a>

        <a href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte">Dobbelt carporte</a>

        <a href="#">Skræddersyet carporte</a>

        <a href="#">Tilbehør</a>

    </div>

    <div class="loginBox">
        <a href="/signin">Login</a>
    </div>

</div>

<div class="background">

    <div class="signinContainer">

        <div class="logoBoxLoginBox">

            <h1>Fog</h1>
            <p>Custom Carport</p>

        </div>

        <form method="post" action="/signin">

            <div id="signinMail">
                <input type="email" name="email" placeholder="Mail" required>
            </div>

            <div id="signinPassword">
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <p th:if="${error}" th:text="${error}" class="errorMessage"></p>

            <a href="/forgot-password" id="forgotPassword">
                Forgot password
            </a>

            <label>
                <input type="checkbox" name="rememberMe">
                Husk mig
            </label>

            <div id="signinButton">
                <button type="submit">Login</button>
            </div>

            <div class="create-user">

                <p>Har du ikke en konto?</p>

                <a href="/signup">
                    Opret en bruger lige her
                </a>

            </div>

        </form>

    </div>

</div>

</body>

</html>