<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Signin</title>
</head>

<body>

<div class="topbar">

    <p>Klik & collect*</p>
    <p>30 dages returret</p>
    <p>30 - 45 dages levering</p>
    <p>Kontakt os</p>

</div>

<div class="menubar">

    <div class="logoBox">
        <a href="/" class="logoLink">
            <h1>Fog</h1>
            <p>Custom Carport</p>
        </a>
    </div>


    <div class="menuLinks">

        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte">Enkelte carporte</a>

        <a href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte">Dobbelt carporte</a>

        <a href="#">Skræddersyet carporte</a>

        <a href="https://www.johannesfog.dk/byggematerialer/tag/tilbehoer-til-tage">Tilbehør</a>

    </div>

    <div class="loginBox">
        <a href="/signin">Login</a>
    </div>

</div>

<div class="background">

    <div class="signinContainer">

        <div class="logoBoxLoginBox">

            <h1>Fog</h1>
            <p>Custom Carport</p>

        </div>

        <form method="post" action="/signin">

            <p class="welcomeText">Velkommen tilbage</p>

            <p class="loginText">Log på med din e-mail</p>

            <p class="overTitles">E-mail</p>
            <div id="signinMail">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" name="email" placeholder="Indtast din e-mail" required>
            </div>

            <p class="overTitles">Adgangskode</p>
            <div id="signinPassword">
                <i class="fa-regular fa-user"></i>
                <input type="password" name="password" placeholder="Indtast din adgangskode" required>
            </div>

            <p th:if="${error}" th:text="${error}" class="errorMessage"></p>


            <div class="rememberForgotBox">

                <label class="rememberMe">
                    <input type="checkbox" name="rememberMe">Husk mig</label>

                <a href="/forgot-password" id="forgotPassword">Glemt adgangskode?</a>

            </div>

            <div id="signinButton">
                <button type="submit">Log på</button>
            </div>

            <div class="createUser">

                <p class="noAccount">Har du ikke en konto?</p>

                <a href="/signup">Opret en bruger lige her</a>

            </div>

        </form>

    </div>

</div>

</body>

</html>