<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Signup</title>
</head>

<body>

<div class="topbar">
    <p>Klik & collect*</p>
    <p>30 dages returret</p>
    <p>30 - 45 dages levering</p>
    <p>Kontakt os</p>
</div>

<div class="menubar">
    <div class="logoBox">
        <a href="/" class="logoLink">
            <h1>Fog</h1>
            <p>Custom Carport</p>
        </a>
    </div>

    <div class="menuLinks">

        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte">Enkelte carporte</a>

        <a href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte">Dobbelt carporte</a>

        <a href="/build-your-carport">Skræddersyet carporte</a>

        <a href="https://www.johannesfog.dk/byggematerialer/tag/tilbehoer-til-tage">Tilbehør</a>

    </div>

    <div class="loginBox">
        <a href="/signin">
            <i class="fa-regular fa-user"></i>
            <span>Log in</span>
        </a>
    </div>

</div>

<div class="background">
    <div class="signupContainer">
        <div class="signupTop">

            <div class="logoBoxLoginBox">
                <h1>Fog</h1>
                <p>Custom Carport</p>
            </div>

            <div class="createUserInfoTop">
                <h1>Opret bruger</h1>
                <p>Opret bruger for at gemme dine tilbud og ordrer</p>
            </div>

        </div>

        <form method="post" action="/signup">

            <p class="overTitles">Fornavn</p>
            <div id="signupFirstName">
                <i class="fa-regular fa-user"></i>
                <input type="text" name="firstName" placeholder="Indtast dit fornavn" required>
            </div>

            <p class="overTitles">Efternavn</p>
            <div id="signupLastName">
                <i class="fa-regular fa-user"></i>
                <input type="text" name="lastName" placeholder="Indtast dit efternavn" required>
            </div>

            <p class="overTitles">E-mail</p>
            <div id="signupMail">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" name="email" th:placeholder="${emailError} ?: 'Indtast din mail'" required>
            </div>

            <p class="overTitles">Adgangskode</p>
            <div id="signupPassword">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" placeholder="Indtast din adgangskode" required>

            </div>

            <div class="doubleColumnRow">

                <div class="signupField">
                    <p class="overTitles">Telefonnummer</p>
                    <div id="signupPhone">
                        <i class="fa-solid fa-phone"></i>
                        <input type="tel" name="phoneNumber" th:placeholder="${phoneError} ?: 'Indtast dit telefonnummer'" required>
                    </div>
                </div>

                <div class="signupField">
                    <p class="overTitles">Adresse</p>
                    <div id="signupAddress">
                        <i class="fa-solid fa-house"></i>
                        <input type="text" name="address" placeholder="Indtast din adresse" required>
                    </div>
                </div>

            </div>

            <div class="doubleColumnRow">

                <div class="signupField">
                    <p class="overTitles">Postnummer</p>
                    <div id="signupPostalCode">
                        <i class="fa-solid fa-location-dot"></i>
                        <input type="text" name="postalCode" placeholder="Indtast dit postnummer" required>
                    </div>
                </div>

                <div class="signupField">
                    <p class="overTitles">By</p>
                    <div id="signupCity">
                        <i class="fa-solid fa-city"></i>
                        <input type="text" name="city" placeholder="Indtast din by" required>
                    </div>
                </div>

            </div>

            <div id="signupButton">
                <button type="submit">Opret en konto</button>
            </div>

            <div class="createUser">
                <p>Har du allerede en konto?</p>
                <a href="/signin">Log på her</a>
            </div>

        </form>

    </div>
</div>

</body>
</html>